bcgantt {
    display: inline-flex;
    width: 100%;
}

timeunitwrapper {
    display: inline-flex;
    unicode-bidi: isolate;
    flex-direction: row;
    position: relative;
    height: 41px;
    border: 1px solid #c4c4c4;
}

timeline {
    //max-width: 60%;
    overflow-x: auto;

}


timeitem {
    display: flex;
    width: 25px;
    height: 20px;
    position: relative;
    justify-content: center;
    top: 20px;
}


timeunit {
    display: flex;
    width: 25px;
    /* height: 20px; */
    /* position: relative; */
    /* top: 20px; */
    /* left: 50%; */
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-content: center;
    position: absolute;
    flex-wrap: nowrap;
    align-items: flex-start;
}