:root {
    --color-primary: #00B7C3;
    --color-secondary: #505C6D;

    --color-border: #ababab;
    --color-border-hover: #00B7C3 !important;
    --color-border-active: #ababab !important;


    /* Standard colors */
    --color-standard: #212121;
    --color-accent: #00B7C3;
    --color-strong: #212121;
    --color-favorable: #35AB22;
    --color-ambiguous: #9F9700;
    --color-unfavorable: #EB6965;
    --color-attention: #EB6965;
    --color-subordinate: #A7ADB6;

    /* Additional colors */
    --color-yellow: #C9C472;
    --color-green: #88CE81;
    --color-red: #E97768;
    --color-blue: #75B5E7;
    --color-lightgreen: #59CCB4;
    --color-sky: #75D8E7;
    --color-egg: #EEEA86;
    --color-orange: #E89E63;
    --color-violet: #DBBDEB;
    --color-teal: #39B294;
    --color-grass: #73BA5A;
    --color-scarlet: #E65E6D;

    /* Chart colors */
    --color-chart-secondary-1: #505C6D;
    --color-chart-secondary-2: #008089;
    --color-chart-primary: #00B7C3;
    --color-chart-yellow: #C9C472;
    --color-chart-red: #E97768;
    --color-chart-blue: #75B5E7;
    --color-chart-lightgreen: #59CCB4;
    --color-chart-sky: #75D8E7;
    --color-chart-egg: #EEEA86;
    --color-chart-violet: #DBBDEB;
    --color-chart-teal: #39B294;
    --color-chart-grass: #73BA5A;


    --largest-plus-font-size: 37.5pt;
    --largest-font-size: 30pt;
    --large-plus-font-size: 22.5pt;
    --large-font-size: 18pt;
    --medium-plus-font-size: 15pt;
    --medium-font-size: 13.5pt;
    --small-plus-font-size: 12pt;
    --small-font-size: 10.5pt;
    --smallest-font-size: 9pt;

    --font-family-Segoe-UI: "Segoe UI", "Segoe WP", Segoe, device-segoe, Tahoma, Helvetica, Arial, sans-serif;
    --font-family-Segoe-UI-Light: "Segoe UI Light", "Segoe WP Light", device-segoe-light, "Segoe WP Semilight", "Segoe UI", "Segoe WP", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    --font-family-Segoe-UI-Semilight: "Segoe UI Semilight", "Segoe WP Semilight", device-segoe-semilight, "Segoe UI", "Segoe WP", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    --font-family-Segoe-UI-Semibold: "Segoe UI Semibold", "Segoe WP Semibold", device-segoe-semibold, "Segoe UI", "Segoe WP", Segoe, Tahoma, Helvetica, Arial, sans-serif;

}